# .htaccess
RewriteEngine On

# Force sitemap.xml to be served as XML
<Files "sitemap.xml">
    ForceType application/xml
    Header set Content-Type "application/xml"
</Files>

# Force robots.txt to be served as plain text
<Files "robots.txt">
    ForceType text/plain
    Header set Content-Type "text/plain"
</Files>

# Enable CORS for sitemap
<Files "sitemap.xml">
    Header set Access-Control-Allow-Origin "*"
</Files>
